# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Data
/data/

# MLflow
mlflow/
mlruns/

# Prefect
prefect/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
